<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.system.mapper.ReportItemMapper">
    <resultMap id="map" type="com.common.system.entity.ReportItem">
        <id column="id" property="id"/>
        <result column="c_id" property="cId"/>
        <result column="post" property="post"/>
        <result column="kind" property="kind"/>
        <result column="r_id" property="rId"/>
    </resultMap>
    <delete id="deleteByReportId">
        delete from report_item where r_id = #{id}
    </delete>
    <select id="findByRid" resultMap="map">
        select * from report_item where r_id = #{rid}
    </select>
    <!--    <select id="getReportItemByCids" resultType="com.common.system.entity.Refer">-->
<!--        select c_id,post,kind from report_item where c_id in-->
<!--        <foreach collection="list" item="cid" open="(" separator="," close=")">-->
<!--        #{cid}-->
<!--        </foreach>-->
<!--    </select>-->

</mapper>